<div class="col-md-12">
	<hr />
	<h1>{{ titulo }}</h1>

	<div *ngIf=" !identity || identity == null">
			Inicia sesión para acceder al contenido...
	</div>

	<div *ngIf=" identity || identity != null">
			Bienvenido {{ identity.name}}, <a [routerLink]="['/index']">Ingresa a tu canal</a> o <a [routerLink]="['/index']">crea un video</a>
	</div>

	<hr />

	<div class="all-videos">
		<ul id="video-list" *ngIf="videos">
			<li *ngFor="let video of videos" class="video-item col-md-4 pull-left">
			<div class="video-image-thumb">
				<img src="http://www.symfonyapi.com/symfony/web/uploads/video_images/video_{{ video.id }}/{{ video.image}}" *ngIf="video.image"/>
			</div>
				<div class="data">
					<h4><a [routerLink]="['/video',video.id]"></a>{{ video.title }}</h4>
					<p>{{ video.description }}</p>
				</div>
			</li>
		</ul>
	</div>
</div>