<div class="row">
	<div class="col-md-12">
		<hr/>
			<h1>{{ titulo }}</h1>
		<hr/>
	</div>
</div>	

<form>
	<div class="row">
		<div class="col-md-4">
			<div class="form-group">
				<label>Correo electronico</label>
				<input  class="form-control" type="email" name="" required>
			</div>

			<div class="form-group">
				<label>Contraseña</label>
				<input class="form-control" type="password" name="">
			</div>

			<div class="text-right">
				<input type="submit" name="" value="Entrar" class="btn btn-primary">
			</div>
		</div>
	</div>	
</form>