<div class="row">
	<div class="col-md-12">
		<hr/>
			<h1>{{ titulo }}</h1>
		<hr/>
	</div>
</div>

<form #updateForm = "ngForm" (ngSubmit)="onSubmit()">
	<div class="row">

		<div class="col-md-4">

			<div class="form-group" *ngIf="status == 'success'">
				<div class="alert alert-success">Has modificado tus datos correctamente</div>
				<a [routerLink="['/login']"]>pinchando aqui...</a>	
			</div>

			<div class="form-group">
				<label>Nombre</label>
				<input type="text" class="form-control" #name="ngForm" ngControl="name" [(ngModel)]="user.name">
				<span *ngIf="!user.name.valid && name.touched"  class="label label-danger">El nombre es obligatorio</span>
			</div>

			<div class="form-group">
				<label>Apellido</label>
				<input type="text" class="form-control" #surname="ngForm" ngControl="surname" [(ngModel)]="user.surname">
				<span *ngIf="!user.surname.valid && surname.touched"  class="label label-danger">El apellido es obligatorio</span>
			</div>

			<div class="form-group">
				<label>Correo electronico</label>
				<input  #email="ngForm" ngControl="email" [(ngModel)]="user.email" class="form-control" type="email" name="" required>
				<span *ngIf="!user.email.valid && user.email.touched" class="label label-danger">El email es obligatorio</span>
			</div>

			<div class="text-right">
				<input type="submit" name="" value="Actualizar" class="btn btn-success">
			</div>
		</div>
	</div>	
</form>